* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    /*border: 1px solid black;*/
    margin: 20px auto;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}